includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - database
        - config
        - resources
        - routes

    # The level 8 is the highest level
    level: 5

    excludePaths:
        - app/Http/Controllers/Auth/*
        - app/Http/Middleware/*

    checkMissingIterableValueType: false